WATCHTOWER_POLL_INTERVAL=<WATCHTOWER_POLL_INTERVAL>
WATCHTOWER_CLEANUP=<WATCHTOWER_CLEANUP>
WATCHTOWER_DEBUG=<WATCHTOWER_DEBUG>
WATCHTOWER_INCLUDE_RESTARTING=<WATCHTOWER_INCLUDE_RESTARTING>
WATCHTOWER_INCLUDE_STOPPED=<WATCHTOWER_INCLUDE_STOPPED>
WATCHTOWER_REVIVE_STOPPED=<WATCHTOWER_REVIVE_STOPPED>
WATCHTOWER_NOTIFICATIONS=<WATCHTOWER_NOTIFICATIONS>
WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=<WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL>
WATCHTOWER_NOTIFICATION_SLACK_CHANNEL=<WATCHTOWER_NOTIFICATION_SLACK_CHANNEL>